.CurrentStateDisplayTable{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    background-color: black;
    color: #1f6ae2;
}

.CurrentStateDisplayTable td {
    color: #1f6ae2;
}

th.OutputLabel{
    font-size: 18pt;
    font-weight: bold;
    padding: 15px;
}

th.OutputValueRed{
    font-size: 18pt;
    font-weight: bold;
    color: red;
}

th.OutputValueOrange{
    font-size: 18pt;
    font-weight: bold;
    color: yellow;
}

th.OutputValueGreen{
    font-size: 18pt;
    font-weight: bold;
    color: green;
}

.RefreshButton{
    background-color: black;
    color: #1f6ae2;
    padding: 20px;
    font-weight: bold;
    border: 1px dotted #1f6ae2;
}